@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  /* A cada 1rem -> 10px */
  font-size: 62.5%; 


  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Media Queries */
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}