main {
    width: 100%;
}

.secao-principal {
    width: 100%;
    background-color: rgb(183, 171, 129);
}

.div-secao-principal {
    max-width: 1024px;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.link-sobre {
    padding: 25px;
    background-color: rgb(26, 165, 165);
    margin-top: 50px;
    color: white;
    text-decoration: none;
}