/* General Settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    width: 100vw;
    height: 100vh;
}

:root {
    --player-position-x: 320px;
    --player-position-y: 240px;
}

/* Screen */
.screen {
    width: 540px;
    height: 269px;
    background-color: #7C7C8A;
    border-radius: 4px;
    position: relative;

    background-image: url('../sprites/rooms/south_hrule_field.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* -- Objects -- */

/* Sprite Flip */
.sprite-flip {
    transform: rotateY(180deg);
}

/* Player */
.player-object {
    width: 80px;
    height: 80px;

    position: absolute;
    top: var(--player-position-y);
    left: var(--player-position-x);
}

/* teste */
.player-object2 {
    width: 35px;
    height: 40px;
    background: url('../sprites/characters/link/linkcapless.png') -6px 0px;
    
    position: absolute;
    top: var(--player-position-y);
    left: var(--player-position-x);
}